.popup {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 3;

  display: none;

  background-color: var(--popup-overlay);
}

.popup--active {
  display: block;
}

.popup__inner {
  position: relative;
  top: 60px;

  display: flex;
  flex-direction: column;
  width: 896px;
  height: calc(100vh - 120px);
  margin: 0 auto;
  padding: 32px 34px;

  background-color: var(--white);
  border-radius: 4px;
}

.popup__close {
  position: absolute;
  top: 33px;
  right: 35px;

  padding: 0;

  background: none;
  border: none;

  cursor: pointer;
}

.popup__close svg {
  transition: var(--animation);

  fill: #4456b1;
}

.popup__close:hover svg {
  fill: var(--light-blue);
}

.popup__close:active svg {
  outline: none;

  fill: var(--dark-blue);
}

.popup__close:active {
  outline: none;
}


.popup__date {
  margin-bottom: 6px;

  color: var(--disabled-blue);

  font-size: 14px;
  line-height: 1.57;
}

.popup__title {
  margin: 0 0 6px;

  color: var(--titles-color);
  font-size: 36px;
  line-height: 1.5;
}

.popup__price {
  margin-bottom: 20px;

  color: var(--titles-color);
  font-weight: 600;
  font-size: 24px;
  line-height: 1.5;
}

.popup__columns {
  display: flex;
  flex-grow: 1;
  overflow-y: auto;
  ms-overflow-style: none;
  scrollbar-width: none;
}

.popup__columns::-webkit-scrollbar {
  display: none;
}

.popup__left {
  width: 520px;
}

.popup__gallery {
  margin-bottom: 16px;
}

.popup__right {
  width: 308px;
  padding-left: 40px;
}

.popup__seller {
  margin-bottom: 22px;
}

.popup__description h3 {
  margin: 0 0 8px;

  color: var(--disabled-blue);
  font-weight: 600;
  font-size: 14px;
  line-height: 1.57;
  letter-spacing: 0.02em;
}

.popup__description p {
  margin: 0;

  color: var(--titles-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.75;
}

.popup__map {
  margin-bottom: 16px;

  background-color: var(--disabled-bg);
  border-radius: 4px;
}

.popup__address {
  position: relative;

  padding-left: 26px;

  color: var(--disabled-blue);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.48;
}

.popup__address::before {
  position: absolute;
  top: 4px;
  left: 0;

  width: 14px;
  height: 18px;

  background-image: url('../../img/pointer.svg');

  content: '';
}

